table, 
th,
td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;


}
th {
   color:#ff0000;
   font-family: 'Press Start 2P', cursive;

}





table {
    background-color: rgb(13, 187, 42);
    border-collapse: collapse;
    font-family: 'Press Start 2P', cursive;

}

h2 {
    font-family: 'Press Start 2P', cursive;
}


h3 {
    font-family: 'Press Start 2P', cursive;
}